@set talent {
  :root {
    display: block;
  }

  .talent {
    flow: horizontal;
    background-color: #2e4946;
    border-radius: 5pt;
    box-shadow: 0 0 3pt #00000066;
    padding: 4pt 20pt 4pt 0;
    display: inline-block;
    margin: 0 auto;
  }

  .talent-title {
    margin: 0 10pt;
    padding: 5pt;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }

  .talent-title-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5pt 2pt;
    width: 1.5em;
    height: 65pt;
    background: url(https://img.jx3box.com/img/qixue/label.png) no-repeat 0 0;
    background-size: 100% 100%;
  }

  .talent-title-char {
    padding: 1pt 0;
    font-size: 11pt;
    color: #ffffff;
    text-shadow: 1dip 1dip 1dip #000000e6;
    text-align: center;
    font-weight: 400;
  }

  .talent-item {
    display: flex;
    margin: 12pt 3pt;
    position: relative;
    cursor: pointer;
  }

  .talent-item-wrapper:hover .talent-item-icon-wrapper {
    background: #ffffff11;
  }

  .talent-item-wrapper:active .talent-item-icon-wrapper {
    background: #ffffff22;
  }

  .talent-item-icon-wrapper {
    padding: 5pt;
  }

  .talent-item-icon {
    width: 42pt;
    height: 42pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .talent-item-icon-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 52pt;
    height: 52pt;
    background: url(https://img.jx3box.com/img/qixue/bg.png) no-repeat 0 0;
    background-size: 100% 100%;
  }

  .talent-item-name {
    margin-top: 2pt;
    color: #ffffff;
    text-shadow: 1dip 1dip 1dip #000000e6;
    text-align: center;
  }

  .talent-item-select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 52pt;
    margin-top: 10pt;
    padding: 5pt 0;
    background: #2e4946;
    border: 1dip solid #ffffff66;
    border-radius: 3pt;
    transition: height .3s ease-in-out, opacity .3s ease-in-out;
  }

  .talent-item-select-option {
    paddin: 4pt 0;
    height: 60pt;
    opacity: .8;
  }

  .talent-item-select-option:hover {
    opacity: .9;
  }

  .talent-item-select-option:active {
    opacity: 1;
  }

  .talent-item-select-option__icon {
    width: 52pt;
    height: 42pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38pt 38pt;
  }

  .talent-item-select-option__name {
    margin-top: 2pt;
    color: #ffffff;
    text-shadow: 1dip 1dip 1dip #000000e6;
    text-align: center;
  }

  .talent-item-select-option + .talent-item-select-option {
    margin-top: 4pt;
  }
}
